@using hicaphe2.Models
@model List<MatHangMua>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TAIKHOANKHACHHANG khach = Session["TaiKhoan"] as TAIKHOANKHACHHANG;
}
<h2 style="text-align:center">THÔNG TIN GIỎ HÀNG</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Hình minh họa</th>
            <th>Kích thước</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sanpham in Model)
        {
            <tr>
                <td>@sanpham.MaSP</td>
                <td>@sanpham.TenSP</td>
                <td><img src="~/Images/@sanpham.Hinhminhhoa" style="max-width: 100px; height: auto;" /></td>
                <!-- Set max-width to limit the width, and height: auto; to maintain the aspect ratio -->
                <td>@sanpham.Kichthuoc</td>
                <td>@sanpham.SoLuong</td>
                <td>@String.Format("{0:0,0}", sanpham.Dongia)</td>
                <td>@String.Format("{0:0,0}", sanpham.ThanhTien())</td>
            </tr>
        }

        }
        <tr style="font-weight:bold; text-align:right; color:red;">
            <td colspan="4">Tổng số lượng: @ViewBag.TongSL</td>
            <td colspan="5">Tổng tiền: @ViewBag.TongTien</td>
        </tr>
    </tbody>
</table>
<h2 style="text-align:center">THÔNG TIN KHÁCH HÀNG</h2>
<table class="table table-bordered">
    <tr>
        <td>Họ tên: </td>
        <td>@khach.HoTenKH</td>
    </tr>
    <tr>
        <td>Địa chỉ: </td>
        <td>@khach.DiachiKH</td>
    </tr>
    <tr>
        <td>Điện thoại: </td>
        <td>@khach.SDT</td>
    </tr>
    <tr>
        <td>Ngày đặt: </td>
        <td>@DateTime.Now.ToShortDateString()</td>
    </tr>
    <style>
        .custom-btn {
            background-color: #your-color; /* Replace #your-color with the color code you want to use */
            color: #fff; /* Text color */
            /* Add any additional styling properties you need */
            border: none;
            padding: 1px 5px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
    <tr>
        <td colspan="2" style="text-align: center;">
            @Html.ActionLink("ĐỒNG Ý ĐẶT HÀNG", "DongYDatHang", null, new { @class = "btn btn-primary btn-lg custom-btn" })
        </td>
    </tr>
</table>
