<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hi cà phê</title>

    @Scripts.Render("~/bundles/modernizr")
    @{
        var taiKhoan = Session["Admin"] as hicaphe2.Models.ADMIN;
    }

    <!-- Favicon -->
    @*<link href="img/favicon.ico" rel="icon">*@

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="https://www.facebook.com/197579132742191/photos/gm.1522089355314842/285516637281773/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="https://i0.wp.com/9to5mac.com/wp-content/uploads/sites/6/2022/10/elon-musk-twitter.jpg?w=1500&quality=82&strip=all&ssl=1">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="https://www.google.com/search?q=linkedin&source=lmns&bih=970&biw=1879&client=opera-gx&hs=m0m&hl=en&sa=X&ved=2ahUKEwiYws7ykpSCAxWk0DQHHdFQClsQ_AUoAHoECAEQAA">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="https://www.instagram.com/p/CxMcewIAmfD/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="align-items-center py-3 px-xl-5 d-inline-flex">
            <div class="col-lg-2" style="max-width:fit-content">
                <a href="@Url.Action("Index", "Admin")" class="text-decoration-none">
                    <img height="120px" src="~/Images/img/logo_Logo màu.png" alt="logo">
                </a>
            </div>
            <div class="">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="@Url.Action("Index", "Admin")" class="nav-item nav-link">Trang chủ</a>
                            <a href="@Url.Action("SanPham", "Admin")" class="nav-item nav-link">Quản lý Sản phẩm</a>
                            <a href="@Url.Action("QuanLyDonHang", "Admin")" class="nav-item nav-link">Quản lý đơn hàng</a>
                            <a href="@Url.Action("Contact", "Home")" class="nav-item nav-link">Giới thiệu & Liên hệ</a>
                            <a href="@Url.Action("Index","Admin")" class="nav-item nav-link">Xin chào @taiKhoan.HoTen</a>
                            <a href="@Url.Action("Index", "HiCaPhe")" class="nav-item nav-link">Đăng xuất</a>
                        </div>
                    </div>
                </nav>              
            </div>
        </div>

    </div>
    <!-- Topbar End -->

    <div class="container-fluid">
        <div>
            <div class="row">
                @*<div class="col-md-3">
                        @Html.Action("LayLoaiSP", "HiCaPhe")
                    </div>*@
                @RenderBody()
                <br />
            </div>
        </div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
</body>

<footer>
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <img height="64px" src="~/Images/img/logo_Logo màu.png" alt="Image">
                </a>
                <p>Thưởng thức vị ngon trọn vẹn.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>84 Đ.Tân Xuân 6, X.Tân Xuân, H.Hóc Môn, TP.HCM</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>cskh@hicaphe.onmicrosoft.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>028 753 9056</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Thẻ truy cập nhanh</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="@Url.Action("Index", "Admin")"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                            <a class="text-dark mb-2" href="@Url.Action("SanPham", "Admin")"><i class="fa fa-angle-right mr-2"></i>Quản lý sản phẩm</a>
                            <a class="text-dark mb-2" href="@Url.Action("QuanLyDonHang", "Admin")"><i class="fa fa-angle-right mr-2"></i>Quản lý đơn hàng</a>
                            <a class="text-dark mb-2" href="@Url.Action("Contact", "Home")"><i class="fa fa-angle-right mr-2"></i>Giới thiệu & Liên hệ</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Nhận tin mới</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Họ và tên" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Thư điện tử"
                                       required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Đăng kí ngay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; @DateTime.Now.Year Bản quyền thuộc về Hi cà phê. Bảo lưu mọi quyền.
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="~/Images/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
</footer>
</html>