@using hicaphe2.Models
@model List<DONDATHANG>
@{
    ViewBag.Title = "QuanLyDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Sản phẩm</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Sản phẩm</p>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>Số Đơn Hàng</th>
        <th>Tên người nhận</th>
        <th>Trị Giá</th>
        <th>Ngày Đặt Hàng</th>
        <th>Trạng Thái</th>
        <th>Thao Tác</th>
    </tr>

    @foreach (var donHang in Model)
    {
        <tr>
            <td>@donHang.SODH</td>
            <td>@donHang.Tennguoinhan</td>
            <td>@donHang.Trigia</td>
            <td>@donHang.NgayDH</td>
            <td>
                @if (donHang.Dahuy ?? false)
                {
                    <span class="badge badge-warning">Đã hủy</span>
                }
                else if ((bool)donHang.Dagiao)
                {
                    <span class="badge badge-success">Đã giao</span>
                }
                else
                {
                    <span class="badge badge-info">Chưa giao</span>
                }
            </td>
            <td>
                @if ((!donHang.Dahuy.HasValue || !donHang.Dahuy.Value) && (!donHang.Dagiao.HasValue || !donHang.Dagiao.Value))
                {
                    <!-- Chỉ hiển thị nút Hủy nếu đơn hàng chưa được hủy -->              
                    <a href="@Url.Action("HuyDonHang", "NguoiDung", new { soDonHang = donHang.SODH })" class="btn btn-danger">Hủy đơn hàng</a>
                }
            </td>
        </tr>
    }
</table>

